<%= form_for(@micropost, html: { multipart: true, autocomplete: "off"} ) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
 <div class="field">
   <%= f.select :category_id, Category.all.map{|a| [a.name, a.id]}, {:selected => @micropost.category_id, :include_blank => 'カテゴリ選択'} %>
   <%= f.text_field :title, size: "20x1",  placeholder: "件名.." %>
   <%= f.text_area :content, size: "20x13", placeholder: "概要.." %>
   <%= f.text_area :code,  placeholder: "code..." %>
   <%= f.file_field :image %>
   <%= fields_for(@link) do |i| %>
    <%= i.text_field :url,  placeholder: "url.." %>
  <% end %>
 </div>

 <%= f.submit "登録", class: "btn btn-primary btn-lg" %>
<% end %>
